<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.text_field :job_id, id: :result_job_id %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order, id: :result_order %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_area :contents, id: :result_contents %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
