<p id="notice"><%= notice %></p>

<h1>Output Files</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Job file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @output_files.each do |output_file| %>
      <tr>
        <td><%= output_file.job %></td>
        <td><%= output_file.job_file %></td>
        <td><%= link_to 'Show', output_file %></td>
        <td><%= link_to 'Edit', edit_output_file_path(output_file) %></td>
        <td><%= link_to 'Destroy', output_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Output File', new_output_file_path %>
