<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @output_file.job %>
</p>

<p>
  <strong>Job file:</strong>
  <%= @output_file.job_file %>
</p>

<%= link_to 'Edit', edit_output_file_path(@output_file) %> |
<%= link_to 'Back', output_files_path %>
