<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.text_field :job_id, id: :log_job_id %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order, id: :log_order %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_area :contents, id: :log_contents %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
