<p id="notice"><%= notice %></p>

<h1>Input Files</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Job file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @input_files.each do |input_file| %>
      <tr>
        <td><%= input_file.job %></td>
        <td><%= input_file.job_file %></td>
        <td><%= link_to 'Show', input_file %></td>
        <td><%= link_to 'Edit', edit_input_file_path(input_file) %></td>
        <td><%= link_to 'Destroy', input_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Input File', new_input_file_path %>
