<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @input_file.job %>
</p>

<p>
  <strong>Job file:</strong>
  <%= @input_file.job_file %>
</p>

<%= link_to 'Edit', edit_input_file_path(@input_file) %> |
<%= link_to 'Back', input_files_path %>
