<%= form_with(model: job_file, local: true) do |form| %>
  <% if job_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_file.errors.count, "error") %> prohibited this job_file from being saved:</h2>

      <ul>
      <% job_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :job_file_name %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_field :contents, id: :job_file_contents %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
