<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_file.name %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @job_file.contents %>
</p>

<%= link_to 'Edit', edit_job_file_path(@job_file) %> |
<%= link_to 'Back', job_files_path %>
